/* basic color parameters */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --footer-bg-color: #2F303A;
    --main-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --background: #F5F5F5;
    --trans-text-color: rgba(255, 255, 255, .6);
    --logo-color: #000000;
    --border-header:#ECECEC;


    
}

/* BASIC PARAMETERS */
h1,
h2,
h3,
h4,
h5,
h6, 
p{
    margin: 0;
}

h2, h3, h4{
    color: var(--title-text-color);
}
h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;     
}

h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

button{
 
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

body{

    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

}


.li-style{
    list-style: none;
    padding: 0;
    margin: 0;

}


.focus-color {
    color: var(--accent-color);
}


.accent:hover,
.accent:focus
{
    color: var(--accent-color);
}
.container{

    width: 1200px;

    /* margin: 0 auto; */
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* HIDDEN CLASS */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* HEADER */

.header{
    border-bottom: 1px solid var(--border-header);
}
.logo-flex{
    display: flex;
    align-items: center;
   
}

.nav{
    margin-left: 93px;
}


.menu-contact{
    display: flex;
    margin-left: auto;
   
}

.menu{
    display: flex;
}

.nav-menu:not(:last-child){
    margin-right: 50px;
}
.contact-item{
    display: flex;
    align-items: center;
}
.contact-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}
.mail-icon{
    margin-right: 10px;
    fill: currentColor;
}
/* .mail-icon:hover,
.mail-icon:focus
{
    fill: currentColor;
} */
/* .icon-envelope::before{
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;

    margin-right: 10px;
    background-image: url(../images/envelope.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

} */


/* 
.icon-phone::before{
    content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 10px;
        background-image: url(../images/smartphone.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
} */

.logo{
    color: var(--logo-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-top: 25px;
    margin-bottom: 24px;

 
}

.logo>span{
    color: var(--accent-color);
}

.title{
    color: var(--title-text-color);
    
}

.primary{
    color: var(--primary-text-color);
}



.main{
    background-color: var(--main-color);
}

/* HERO SECTION*/


.hero{
    
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-bg-color);
    background-image: 
    linear-gradient(
        to right, 
        rgba(47, 48, 58, .4),
        rgba(47, 48, 58, .4)
        ), url(../images/hero-Img.jpg);
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-title{
    color: var(--main-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.btn{

    background-color: var(--accent-color);
    color: var(--main-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 32px;

}

.btn:hover,
.btn:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--title-text-color);
}


/* ADVANTAGE SECTION */
.ad-title{
    display: none;
}

.advantages-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
}
.advantage-list{
    width: 270px;
}
.advantages-box{
    display: flex;
    gap: 30px;
}

.icon-container{
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
    gap: 30px;
}


.advantage-item{
    font-weight: 400;
    line-height: 1.7;

    margin: 0;


}

/* Activity */
.no-padding{
    padding-top: 0px;
}

.activity-title{
    margin-top: 0;
    margin-bottom: 50px;
}

.activity-box{
    display: flex;
    gap: 30px;
}

/* Team */
.team{
    background-color: var(--secondary-bg-color);
    text-align: center;
}
.team-title{
    margin-top: 0;
    margin-bottom: 50px;
    /* padding-top: 94px; */
}
.team-box{
    display: flex;
    gap: 30px;

    
}
.team-user{
background-color: var(--main-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    /* margin-top: 0; */
}
.team-name{
    margin: 0;
    margin-bottom: 10px;
}
.user{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        margin: 0px 0px 16px 0px;
}
.team-player{
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
    width: 44px;
    height: 44px;
    color: #AFB1B8;
}

.icon{
    fill: currentColor; 
}

.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
    color: var(--main-color);
}
/* .social-link:hover .icon,
.social-link:focus .icon{
    fill: var(
        --main-color
    )
} */


/* Clients */

.clients-box{
        display: flex;
        justify-content: center;
        align-items: center;
            gap: 30px;
}
.clients-title{
    margin-top: 0;
    margin-bottom: 50px;
}
.clients-link{
    display: flex;
        justify-content: center;
        align-items: center;
        color: #AFB1B8;
        width: 170px;
        height: 92px;
        border: 1px solid currentColor;
}
.clients-link:hover{
    color: var(--accent-color);
}
/* .clients-link:hover .icon{
    fill: var(--accent-color);
} */

/* Footer */
.footer{
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: flex-start;
    padding: 60px 0;
    /* font-style: normal;
    font-weight: 400;
    line-height: 1.7; */
    
}
.address{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-style: normal;
}

.footer>.logo{
    color: var(--main-color);
    
}


.map-link{
    color: var(--main-color);
    text-decoration: none;

}

.footer-item:not(:last-child){
    margin-bottom: 9px;
    line-height: 1.71;
}

.footer-logo {
    color: var(--main-color);
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer-menu-contact{
    display: inline-block;
}

.footer-link{
    color: var(--trans-text-color);
    text-decoration: none;
}
.cover{
    
    display: flex;
    align-items: baseline;

}

.bottom-div{
    margin-right: 70px;
}


.subscribe-title{
    font-weight: 700;
        
        line-height: 1.2;
        
        text-transform: uppercase;
    
        color: #FFFFFF;
        
        margin-bottom: 20px;

}



.icons{
    fill: var(--main-color);
}
.social-link{
    background: rgba(255, 255, 255, 0.1);
}
/* Page 2 - Portfolio */

.section-portfolio{
    padding: 94px 0;
}

.section-item{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.section-btn{
    background-color: var(--background);
    color: var(--title-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    letter-spacing: 00.03em;

    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    
}


.btn-default,
.section-btn:hover,
.section-btn:focus,
.section-btn:active{
    background-color: var(--accent-color);
    color: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.border-line{
    width: 370px;
  
}
/* .border-line:hover,
.border-line:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 4px;
}

.portfolio-link{
    display: block;
    text-decoration: none;
    color: currentColor;
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-img{
padding: 20px 24px;
border: 1px solid var(--border-header);
}


.category{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0;
    margin-bottom: 0;
    
}